## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [2]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here
sample_list_1 = random.sample(range(100),80)
print (sample_list_1)
len(sample_list_1)

[99, 98, 69, 38, 79, 64, 86, 57, 21, 76, 71, 87, 20, 51, 45, 77, 16, 30, 81, 93, 1, 37, 66, 34, 68, 39, 47, 2, 80, 73, 59, 97, 90, 78, 48, 33, 10, 56, 6, 42, 70, 31, 44, 53, 23, 19, 61, 74, 84, 25, 27, 83, 11, 94, 14, 63, 89, 41, 4, 65, 92, 91, 18, 12, 60, 58, 82, 0, 52, 43, 55, 88, 49, 96, 35, 13, 85, 75, 62, 32]

80

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set1 = set(sample_list_1)
print (set1)
len(set1)

{0, 1, 2, 4, 6, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 23, 25, 27, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
# Your code here
sample_list_2 = random.sample(range(100),80)
print (sample_list_2)
len(sample_list_2)

[10, 75, 88, 8, 57, 97, 23, 78, 65, 38, 80, 35, 26, 82, 91, 66, 53, 60, 39, 68, 31, 5, 56, 1, 69, 24, 89, 33, 77, 41, 0, 74, 84, 71, 43, 90, 40, 73, 62, 42, 45, 27, 30, 54, 86, 25, 36, 94, 64, 48, 37, 58, 67, 21, 61, 47, 29, 7, 4, 79, 44, 76, 14, 96, 20, 32, 17, 6, 93, 52, 18, 34, 13, 2, 70, 49, 98, 9, 11, 99]

80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here
#Convierto la lista en Set
set2 = set((sample_list_2))
type (set2)
len(set2)

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [13]:
# Your code here
type (set1)
len(set1)

lista3 =list()


for element in set1:
    if element in set2:
        lista3.append(element)
    else:
        pass
    
set3 = set(lista3)
print (set3)
len (set3)

{0, 1, 2, 4, 6, 10, 11, 13, 14, 18, 20, 21, 23, 25, 27, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 52, 53, 56, 57, 58, 60, 61, 62, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 86, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}

68

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [14]:
# Your code here
lista4 =list()

for element in set2:
    if element in set1:
        lista4.append(element)
    else:
        pass
    
set4 = set(lista4)
print (set4)
len (set4)

{0, 1, 2, 4, 6, 10, 11, 13, 14, 18, 20, 21, 23, 25, 27, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 52, 53, 56, 57, 58, 60, 61, 62, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 86, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}

68

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [15]:
# Your code here

lista5 =list()

for element in set1:
    if element in set2:
        lista5.append(element)
    else:
        pass
    
set5 = set(lista5)
print (set5)
len (set5)

{0, 1, 2, 4, 6, 10, 11, 13, 14, 18, 20, 21, 23, 25, 27, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 52, 53, 56, 57, 58, 60, 61, 62, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 86, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}

68

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [17]:
# Your code here
long1 = len(set1)
long2 = len(set2)
long3 = len(set3)
long4 = len(set4)
long5 = len(set5)

print (long1, long2, long3, long4, long5)

80 80 68 68 68

#### Create an empty set called `set6`.

In [20]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [22]:
# Your code here
set6.update(set3)
set6.update(set5)
print (set6)
len (set6)

{0, 1, 2, 4, 6, 10, 11, 13, 14, 18, 20, 21, 23, 25, 27, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 52, 53, 56, 57, 58, 60, 61, 62, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 84, 86, 88, 89, 90, 91, 93, 94, 96, 97, 98, 99}

68

#### Check if `set1` and `set6` are equal.

In [23]:
# Your code here
if set1 == set6:
    print ("Si, son iguales")
else:
    print ("No, son diferentes")

No, son diferentes

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [27]:
# Your code here

set2.issubset(set1)

False

In [28]:
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [31]:
# Your code here

union_set_1_2 = set1.union(set2)

union_set_3_4_5 = set3.union(set4,set5)

print (len(union_set_1_2))
print (len(union_set_3_4_5))

92
68

In [32]:
print (set1)

{0, 1, 2, 4, 6, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 23, 25, 27, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [35]:
# Your code here
set1.pop()
print (set1)

{2, 4, 6, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 23, 25, 27, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [36]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]


print (set1)

{2, 4, 6, 10, 11, 12, 13, 14, 16, 18, 19, 20, 21, 23, 25, 27, 30, 31, 32, 33, 34, 35, 37, 38, 39, 41, 42, 43, 44, 45, 47, 48, 49, 51, 52, 53, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 96, 97, 98, 99}

In [45]:
#for i in list_to_remove:
#    set1.remove(i)
#print (set1)
list_to_remove_set= set(list_to_remove)


solution1 = set1 - list_to_remove_set
print (solution1)

{2, 4, 6, 10, 12, 13, 14, 16, 18, 20, 23, 25, 27, 30, 32, 33, 34, 35, 37, 38, 42, 43, 44, 45, 47, 48, 52, 53, 55, 56, 57, 58, 60, 62, 63, 64, 65, 66, 68, 70, 73, 74, 75, 76, 77, 78, 80, 82, 83, 84, 85, 86, 87, 88, 90, 92, 93, 94, 96, 97, 98}