# Introduction to Pandas

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

#### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [11]:
# your code here
import pandas as pd
import numpy as np

#### 2. Create a Pandas Series containing the elements of the list below.

In [12]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [13]:
# your code here
#s1 = pd.Series([lst])
df_lst = pd.DataFrame(lst)
print (df_lst)
print(type(df_lst))

      0
0   5.7
1  75.2
2  74.4
3  84.0
4  66.5
5  66.3
6  55.8
7  75.7
8  29.1
9  43.7
<class 'pandas.core.frame.DataFrame'>

#### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [19]:
# your code here
value3 = df_lst.iloc[[2],[0]]

print (value3)

      0
2  74.4

#### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [20]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [31]:
# your code here
df_b = pd.DataFrame(b)
print (df_b)
print(df_b.describe())

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7
              0         1          2          3          4
count  10.00000  10.00000  10.000000  10.000000  10.000000
mean   54.62000  50.11000  56.950000  47.280000  63.250000
std    25.64899  32.12204  30.168278  31.393446  24.562313
min    20.60000   0.10000   0.100000   4.200000  26.900000
25%    32.95000  29.55000  43.450000  25.050000  39.450000
50%    55.25000  40.75000  53.600000  36.400000  69.000000
75%    70.60000  72.15000  80.925000  79.300000  85.300000
max    96.60000  96.40000  96.100000  88.800000  91.800000

#### 5. Rename the data frame columns based on the names in the list below.

In [39]:
colnames = ['Score_1', 'Score_2', 'Score_3', 'Score_4', 'Score_5']

In [43]:
# your code here

df_c = df_b.rename(columns={0: 'Score_1', 1: 'Score_2',2: 'Score_3',3: 'Score_4',4: 'Score_5'})
# df_c = df_b.rename(columns={colnames})
print (df_c)
# Creando un dataframe

# Explorando un Dataframe
# print(df_b.describe())
## Ordenar valores por cualquier columna


# print(df_b.head())
# print(df_b.tail(1))
#print(df_b.dtypes)
#print(df_b.index)
#print(df_b.columns)
#print(df_b.values)
#print(df_b.sort_values('value',ascending = False))

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

#### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [49]:
# your code here
#df_d = df_c.loc
## imprimir una columna
#print (df_c.Score_3)
## imprimir las filas seleccionadads
print (df_c[2:3])
## imprimir 
print (df_c["Score_2","Score_3","Score_5"])

   Score_1  Score_2  Score_3  Score_4  Score_5
2     20.6     73.2     44.2     14.6     91.8

KeyError: ('Score_2', 'Score_3', 'Score_5')

#### 7. From the original data frame, calculate the average Score_3 value.

In [ ]:
# your code here

#### 8. From the original data frame, calculate the maximum Score_4 value.

In [ ]:
# your code here

#### 9. From the original data frame, calculate the median Score 2 value.

In [ ]:
# your code here

#### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [ ]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [ ]:
# your code here

#### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [ ]:
# your code here

#### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [ ]:
# your code here